.profile {
    display: block;
    text-align: center;
background-color: rgb(239, 241, 241) !important;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
max-width: 800px;
/* background: url("/vinyl3RecordsRevenge.jpeg") no-repeat; */
}

ul {
    list-style-type: none;
  }

.profiles {
    display: flexbox;
    justify-content: center;
    border: .5px solid rgb(39, 47, 83);
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 30px;
    background: url("/assets/images/wine.jpeg") center center fixed;
}

/* .profilePage {
    background: url("/assets/images/cars.jpeg") no-repeat;
} */