/* Everything on this page is an absolute disaster 
It also is the least responsive page in the entirety of the internet
have fun fixing it future self. 
    XOXO- tired Kala from saturday night */

.card {
  height: auto;
  margin: 20px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  text-align: center;

  color: white;
  background-color: rgb(49, 49, 49) !important;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

  text-align: center;
  /* background: url("/vinyl3RecordsRevenge.jpeg") no-repeat; */
}

/* .profileItem {
    
} */

.profiles {
  display: block;
  /* flex-direction: column; */
  justify-content: center;
  /* align-content: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  border: 0.5px solid rgb(64, 96, 128);
  max-height: 800px;
  min-width: 1200px;
  overflow-y: auto;
  margin-bottom: 30px;
  background: url("/assets/images/wine.jpeg") center center fixed;
}

.interest {
  background-color: white;
  border: 0.5px solid rgb(64, 96, 128);
  border-radius: 3px;
}

.headerText {
  font-size: 70px;
  font-weight: bolder;
  color: rgb(64, 96, 128);
}

.textInterest {
  color: rgb(64, 96, 128);
  display: flex;
  text-align: center;
  margin: auto;
}

.profileP {
  font-size: 30px;
  font-weight: bolder !important;
  color: rgb(64, 96, 128) !important;
}

.profilecontainer {
  margin: auto;
  text-align: center;
}

.profilecontainer2 {
  margin: auto;
  text-align: center;
}

/* being called several places and needed to be commented out */
/* .row {
  text-align: center;
  margin-bottom: 20px;
} */

.rowlog {
  margin-left: 20px;
}

.rowneg {
  margin-left: -40px;
}

.card-img-top {
  max-width: 302px;
  max-height: 302px;
  object-fit: cover;
}

.masthead2 {
  background: url("https://www.punchbowl.com/gridfs/fs/4e7fe83d1a349e097100014d-1317005375")
    no-repeat;
  /* background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg"); */
  height: 45vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.search-container2 {
  width: auto;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  padding: 35px;
}
