.private-checkbox {
  margin-right: 8px;
  margin-left: 3px;
}

.btn-secondary {
  background-color: rgb(64, 96, 128) !important;
}

.private-p {
  margin: 5px;
}

.dashboard-name-input {
  width: 30% !important;
  height: 35px;
  margin: 0;
  /* border: none; */
  border: solid 1px #ccc;
  border-radius: 6px !important;
}

.card {
  width: 19em;
  border: 1px solid rgb(64, 96, 128);
}

.dash-card-margin {
  margin-bottom: 25px;
}

.masthead3 {
  background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg");
  height: 65vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.search-container3 {
  display: block;
  max-width: 500px;
  background: rgba(207, 207, 207, 0.8);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  /* margin-top: 20px; */
  /* padding: 25px; */
}

/* had to set min and max height for black background to render w/ and w/o search */
.main-container {
  min-height: 100vh;
  max-height: 100%;
  color: white;
  background-color: rgb(43, 43, 43);
}

.landingcollection {
  padding-bottom: 30px;
}

.darker {
  background-color: rgb(221, 218, 218);
  border: 1px solid rgb(64, 96, 128);
  margin-bottom: 20px;
}

.dash-buttons {
  margin-bottom: 0px;
}

/* checktoseeifthing */
/* .dlt-button {
  margin-top: 0px;
} */

/* .container {
  justify-content: center;
  margin: 0 auto;
} */

/* .row {
  justify-content: center;
  max-width: 100%;
} */

.form-inline {
  justify-content: center;
}

h1 {
  text-align: center;
}

.no-collections {
  margin-bottom: 30px;
}
