/* * {
  border: 1px solid red;
} */

/* card css is being called in serveral places */

body {
  background-color: rgb(43, 43, 43);
}
.card {
  width: 19em;
  border: 1px solid rgb(64, 96, 128);
  margin-bottom: 20px;
}

.masthead {
  background: url("/assets/images/vinyl-headphones.jpg") no-repeat;

  /* background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg"); */
  height: 45vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.masthead2 {
  background: url("https://www.punchbowl.com/gridfs/fs/4e7fe83d1a349e097100014d-1317005375")
    no-repeat;

  /* background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg"); */
  height: 45vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.search-container {
  width: auto;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  padding: 25px;
}

.search-container2 {
  width: auto;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  padding: 35px;
}

/* had to set min and max height for black background to render w/ and w/o search */
.main-container {
  min-height: 100vh;
  max-height: 100%;
  color: white;
  background-color: rgb(43, 43, 43);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-weight-light2 {
  font-size: 4em;
}
