/* * {
  border: 1px solid red;
} */

/* card css is being called in serveral places */
.card {
  width: 19em;
  border: 1px solid rgb(64, 96, 128) ;
}

.masthead {
  background: url("/assets/images/vinyl-headphones.jpg") no-repeat;
  background-position-y: -200px;
  /* background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg"); */
  height: 65vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.search-container {
  width: 500px;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  padding: 25px;
}

/* had to set min and max height for black background to render w/ and w/o search */
.main-container {
  min-height: 100vh;
  max-height: 100%;
  color: white;
  background-color: rgb(43, 43, 43);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingcollection {
  padding-bottom: 30px;
}

.darker {
  background-color: rgb(221, 218, 218);
  border: 1px solid rgb(64, 96, 128) ;
  margin-bottom: 20px;
}
