/* * {
  border: 1px solid red;
} */

/* body {
  min-height: 100%;
  padding-bottom: 20px;
  background-color: rgb(43, 43, 43) !important;
} */

.card {
  width: 19em;
}
/* .container {
  margin: auto;
} */

.masthead {
  background: url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg")
    no-repeat;
  height: 50vh;
  min-height: 400px;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
}

.search-container {
  width: 500px;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  padding: 25px;
}

/* had to set min and max height for black background to render w/ and w/o search */
.main-container {
  min-height: 100vh;
  max-height: 100%;
  color: white;
  background-color: rgb(43, 43, 43);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingcollection {
  padding-bottom: 30px;
}

/* .divSanta {
  padding: 8em;
} */
