.footlose {
    background-color: rgb(37, 37, 37);
    color: rgb(241, 243, 245);
    clear: both;
    font-size: 15px;
    text-align: center;
    /* background: rgb(204, 187, 238); */
    height: 90px; 
    flex-shrink: 0;
}