a:active,
a:hover, 
a:focus {
    color: rgb(28, 64, 105);
}

a {
    color: black;
}

/* I defeated the  blue border */
input:focus,
input:active {
    border: 1px solid rgb(40, 40, 71) !important;
    /* outline: grey !important; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(207, 163, 228, 0.836);
    /* -webkit-box-shadow: none !important; */
}